
\.idea/\.idea\.EventCoursing/\.idea/

*.iml

CheckingAccountExample/bin/

CheckingAccountExample/obj/

EventCoursingSimple/bin/

EventCoursingSimple/obj/

EventCoursing/bin/

EventCoursing/obj/

\.idea/

ExampleCheckingAccount/bin/Debug/netcoreapp2\.0/

ExampleCheckingAccount/obj/Debug/netcoreapp2\.0/
